---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full md:pt-24 pt-36" style="background-image:url('/iedcdesign/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                 cluster iedc
			</h1>

		</div>
		</div>
     </main>



    <section class="md:pt-24 md:px-12 ">
			<div class=" flex md:flex-row mx-auto flex-col md:space-x-4 space-x-0 ">
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="/iedcdesign/img/iedc_web/image.png" class=" object-center h-96 mx-auto">
				</div>
				<div class=" md:w-2/3 w-full  my-auto">
					<h1 class="md:text-4xl text-3xl text-blue-900 font-extrabold text-center pb-10">Cluster IEDC</h1>
					
					
                    <p class="text-xl text-justify">Kerala Startup Mission (KSUM) is inviting applications from IEDCs to form Cluster IEDCs in various Technology Sectors</p>
				    <p class="text-xl text-justify">Cluster IEDCs will be theme based IEDCs focusing on one specific sector. The cluster will have IEDCs having interest in the selected domain and lead by one IEDC having expertise and resources in the domain. </p>
                     <p class="text-xl text-justify"> The objective of the Cluster IEDC is to develop talent in the specific sector in general and start-ups in particular through encouragement of collaborative innovation among students from different institutions. Cluster IEDC encourage IEDCs to open resources to the member IEDCs and enhance the use of resources optimally.</p>
                     <h1 class="text-xl  font-bold text-center text-red-500">Last date of application - 28th Feb 2022</h1>
                </div>
			</div>
                    <h1 class="md:text-4xl text-3xl text-blue-900 font-extrabold text-center pt-10">Cluster Technology Themes</h1>
            <div class=" md:flex-row mx-auto flex col md:space-x-4 space-x-0 ">
			
               <div class=" md:flex-row flex col py-10 text-xl text-justify md:w-2/3 w-full  mx-auto my-auto md:mt-10">
					<div class=" md:w-1/2 w-full md:px-24 mx-5 my-auto md:mt-10">
                     <ol>
					 <li>1.Agritech</li>
					 <li>2.AR/VR/Gaming</li>
					 <li>3.Bigdata</li>
					 <li>4.Biotechnology</li>
					 <li>5.Block Chain</li>
					  <li>6.Cyber Security</li>
					 <li>7.Deeptech(AI/ML)</li>
					 </ol>
					</div>
					<div  class=" md:w-1/2 w-full px-24  my-auto md:mt-10">
                         <ul>
								<li>8.Fintech</li>
								<li>9.Hardware</li>
								<li>10.Healthtech</li>
								<li>11.Internet of Things (IoT)</li>
								<li>12.Robotics and Sensor</li>
								<li>13.Spacetech</li>
					   
					 </ul>
					</div>
                   
                </div>
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="/iedcdesign/img/iedc_web/cluster-mapping.jpg" class="   object-center h-96 mx-auto">
				</div>
				
			</div>
			<div class=" md:flex-row mx-auto py-10 pb-10 flex col md:space-x-4 space-x-0 ">
			  <div class="flex md:w-1/3 w-5 mx-auto md:mt-10">
					<img src="/iedcdesign/img/iedc_web/image3.jpg" class=" object-center h-96 mx-auto">
				</div>	
				<div>
					<h1 class="md:text-4xl text-3xl text-blue-900 md:px-24 font-extrabold text-justify pt-10">Role of the Cluster Lead</h1>
					<ul class="list-disc list-outside text-justify md:px-36  px-10 md:py-10 text-xl" >
						<li>Develop an ecosystem for promoting start-ups from the sector</li>
						<li>Conduct Tech workshops in the selected sector</li>
						<li>Lead and Mentor member IEDCs</li>
						<li>Develop a talent pipeline for the sector</li>
						<li>Identify and develop start-ups in the sector</li>
					</ul>
					<h1 class="text-xl text-red-600 font-bold px-20 py-10">Selected Lead IEDC may need to onboard 15-20 IEDCs interested in the sector to the cluster</h1>
				</div>
         </div>
		</section>
  
</Layout>        