---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-36 md:pt-24" style="background-image:url('/iedcdesign/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                idea fest
			</h1>

		</div>
		</div>

		
	</main>
    <section class="md:pt-15 md:px-12 ">
             
			<div class="flex md:flex-row mx-auto flex-col md:space-x-4 space-x-0 ">
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="/iedcdesign/img/iedc_web/Picture1.png" class=" object-center h-96 mx-auto">
				</div>
				<div class=" md:w-2/3 w-full  my-auto">
				  <h1 class="md:text-4xl text-2xl text-blue-900 font-extrabold text-center">IDEA FEST</h1>
					<h1 class="md:text-xl text-lg text-blue-900 font-extrabold text-center">A JOURNEY TO DISCOVER INNOVATION FROM COLLEGES</h1>
                 
                  
                </div>
                
			</div>
           </section> 


           
 
    
    <div class="md:px-24 px-5">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">THE APPLICATION PROCESS</h1>
    </div>
    
    <div class=" md:px-24 px-5">
                
                <ul class="list-disc list-outside text-xl px-10">
                     <li><a class=" text-red-700 py-2 px-2 font-semibold underline" href="https://docs.google.com/forms/d/e/1FAIpQLSfoEVnxgsGD4DW8Co15j8BevEPiyhmngPLvxsBaqUT5happdA/closedform" target="_blank">Apply Here</a> for IDEA Fest</li>
                     <li>The proposed activity schedule is as follows (for reference)</li>
                     <ul class="list-decimal list-outside px-5">
                     <li>IDEA Fest Application</li>
                      <li>Pitch Workshop</li>
                       <li>Pitch</li>
                        <li>KSUM Expert Committee Evaluation</li>
                         <li>Funding & Pre-Incubation Support</li>
                          <li>Call for next IDEA Fest Innovators</li>

                     </ul>

                </ul>
    </div>

   


    <div class="md:px-24 px-5">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">ELIGIBILITY FOR IDEA FEST</h1>
    </div>
    
    <div class="md:px-24">
                
                <ul class="list-disc list-outside text-xl px-10">
                     <li class="text-justify">Student Innovators at stages of Ideation & Designing Stage, Proof of Concept Stage, Minimum Viable Prototype Development Stage can only apply</li>
                     <li>Company registration is not mandatory during the application phase</li>
                     <li>Student Innovators who have availed Idea Grant before for the same team/same product/same idea will not be eligible</li>
                 </ul>
    </div>    
      <div class="md:px-24 px-5">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">SELECTION CRITERIA FOR IDEA FEST</h1>
    </div>
    
    <div class="md:px-24 px-5 md:pb-10">
                
                <ul class="list-disc list-outside text-xl px-10">
                     <li class="text-justify">All the applicants will undergo a Pitch Workshop organised by KSUM</li>
                     <li>Those completing the Pitch Workshop will pitch in front of a panel of experts.</li>
                     <li>Best Projects will be shortlisted</li>
                      <li>Fund approval for the selected projects</li>
                 </ul>
    </div>    
    <div class="md:px-10   md:py-10 ">
           <div class="  flex md:flex-row flex-col bg-cover md:space-x-5 object-center md:space-y-0 space-y-5 text-center text-2xl md:px-12 px-10 pb-5 pt-5   min-w-full bg-center bg-no-repeat w-full md:py-20" >
                
                    
                    <div class="hover:bg-orange-600 text-white py-5 px-2 md:w-1/3 bg-gray-700 border-l-2 border-gray-900" ><a href="https://sites.google.com/startupmission.in/innovationgrant/kerala-startup-innovation-drive-2020?authuser=0" target="blank">Innovative Grant Guidelines</a></div>
                    <div class=" hover:bg-orange-600 text-white py-5 px-2 md:w-1/3 bg-gray-700 border-l-2 border-gray-900"><a href="target="blank"">Student Innovator(Apply Here) </a></div>
                    <div class="hover:bg-orange-600 text-white py-5 px-2 md:w-1/3  bg-gray-700 border-l-2 border-gray-900 "><a href="https://sites.google.com/startupmission.in/innovationgrant/kerala-startup-innovation-drive-2020?authuser=0" target="blank">Startup Founder (Apply Here)</a></div>
            </div>
     </div>
</Layout>