---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                idea fest
			</h1>

		</div>
		</div>

		
	</main>
    <section class="pt-15 px-12 ">
             
			<div class=" md:flex-row mx-auto flex col md:space-x-4 space-x-0 ">
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="img/iedc_web/Picture1.png" class=" object-center h-96 mx-auto">
				</div>
				<div class=" md:w-2/3 w-full  my-auto">
				  <h1 class="md:text-4xl text-2xl text-blue-900 font-extrabold text-center">IDEA FEST</h1>
					<h1 class="md:text-xl text-lg text-blue-900 font-extrabold text-center">A JOURNEY TO DISCOVER INNOVATION FROM COLLEGES</h1>
                 
                  
                </div>
                
			</div>
           </section> 


           
 
    
    <div class="px-24">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">THE APPLICATION PROCESS</h1>
    </div>
    
    <div class="px-24">
                
                <ol class="text-xl px-10">
                     <li>~<a class=" text-red-700 py-2 px-2 font-semibold underline" href="https://docs.google.com/forms/d/e/1FAIpQLSfoEVnxgsGD4DW8Co15j8BevEPiyhmngPLvxsBaqUT5happdA/closedform" target="_blank">Apply Here</a> for IDEA Fest</li>
                     <li>~The proposed activity schedule is as follows (for reference)</li>
                     <ol class="px-5">
                     <li>1.IDEA Fest Application</li>
                      <li>2.Pitch Workshop</li>
                       <li>3.Pitch</li>
                        <li>4.KSUM Expert Committee Evaluation</li>
                         <li>5.Funding & Pre-Incubation Support</li>
                          <li>6.Call for next IDEA Fest Innovators</li>

                     </ol>

                </ol>
    </div>

   


    <div class="px-24">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">ELIGIBILITY FOR IDEA FEST</h1>
    </div>
    
    <div class="px-24">
                
                <ol class="text-xl px-10">
                     <li class="text-justify">~Student Innovators at stages of Ideation & Designing Stage, Proof of Concept Stage, Minimum Viable Prototype Development Stage can only apply</li>
                     <li>~Company registration is not mandatory during the application phase</li>
                     <li>~Student Innovators who have availed Idea Grant before for the same team/same product/same idea will not be eligible</li>
                 </ol>
    </div>    
      <div class="px-24">
                <h1 class=" text-2xl  text-blue-900 font-bold py-5">SELECTION CRITERIA FOR IDEA FEST</h1>
    </div>
    
    <div class="px-24 pb-10">
                
                <ol class="text-xl px-10">
                     <li class="text-justify">~All the applicants will undergo a Pitch Workshop organised by KSUM</li>
                     <li>~Those completing the Pitch Workshop will pitch in front of a panel of experts.</li>
                     <li>~Best Projects will be shortlisted</li>
                      <li>~Fund approval for the selected projects</li>
                 </ol>
    </div>    
    <div class="px-10  py-10 ">
           <div class="  flex flex-row bg-cover space-x-5 object-center text-center text-2xl  px-12   min-w-full bg-center bg-no-repeat w-full py-20" style="background-image:url('/img/iedc_web/image2.png')">
                
                    
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/3 hover:bg-gray-700 border-l-2 border-gray-900" ><a href="/">Innovative Grant Guidelines</a></div>
                    <div class=" bg-orange-600 text-white py-5 px-2 w-1/3 hover:bg-gray-700 border-l-2 border-gray-900"><a href="/">Student Innovator(Apply Here) </a></div>
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/3  hover:bg-gray-700 border-l-2 border-gray-900 "><a href="/">Startup Founder (Apply Here)</a></div>
            </div>
     </div>
</Layout>