---
import Layout from '../layouts/Layout.astro';
---
<Layout title="IEDC">
        
    <div class="md:min-h-screen md:min-w-full w-screen h-96 bg-no-repeat bg-cover md:my-5 mx-4 py-2 px-2" style="background-image:url('/img/bulb1.jpg')">
	<h1 class="font-bold md:text-6xl text-3xl text-white md:py-52 py-24 w-1/2 px-10 leading-relaxed">Innovation and Entrepreneurship Development Centres</h1>
	</div>
	
   <div class=" border-2  px-10 py-10 shadow-xl hover:bg-violet-200 mx-10 flex-col text-black hover:text-white group">
	<div><h1 class="text-5xl  group-hover:text-green-950 fond-bold mx-auto px-5 py-10 underline text-yellow-950">Latest Announcement!!!</h1></div>
	<ul class="font-bold text-xl text-green-800 px-5 group-hover:text-yellow-700 ">
	<li>1.IEDC NEST - Work along the vibrant team of IEDC Kerala Startup Mission -<a class=" text-red-700 py-2 px-2 font-semibold underline" href="">Apply</a></li>
	<li>2.IEDC Fund Request and Annual Report Submission last date extended to 15 May 2023 -<a class=" text-red-700 py-2 px-2 font-semibold underline" href="">Click Here </a></li>
	<li>3.Academic Internship Programme -<a class=" text-red-700 py-2 px-2 font-semibold underline" href="">Click Here </a></li>
	<li>4.New IEDCs Sanction Order- <a class=" text-red-700 py-2 px-2 font-semibold underline" href="">Click Here </a></li>
	<li>5.IEDC Application - For Establishing New IEDC in your Institution -<a class=" text-red-700 py-2 px-2 font-semibold underline" href="">Apply Now </a></li>
	</ul>
	</div>
	<div class="flex md:flex-row flex-col px-10  hover:bg-green-200 py-20  my-10 mx-10">
      <div class="text-center bg-yellow-400 shadow-xl text-xl  hover:bg-violet-500 rounded  hover:text-green-950 text-violet-900  mx-auto md:w-1/4 w-54 my-2 "><a class=" group-hover:bg-yellow-400  py-2 px-2  font-semibold uppercase rounded-xl" href="">Scheme-Handbook</a></div>
      <div class=" text-center bg-yellow-400 shadow-xl  text-xl hover:bg-violet-500 rounded  hover:text-green-950 text-violet-900 mx-auto  md:w-1/3 w-54 my-2 "><a class="group-hover:bg-yellow-400 py-2 px-2  font-semibold uppercase rounded-xl" href="">IEDC-Nodal Officer Handbook</a></div>
      <div class="text-center bg-yellow-400 shadow-xl text-xl  hover:bg-violet-500 rounded hover:text-green-950 text-violet-900 mx-auto  md:w-1/3 w-54 my-2 "><a class="group-hover:bg-yellow-400 py-2 px-2  font-semibold uppercase rounded-xl" href="">Join the Tribe-Student Apllication Form</a></div>
</div>

<div class=" px-10 py-10 flex md:flex-row flex-col   hover:bg-yellow-200">
<div class=" md:w-1/2 w-full mx-auto  bg-no-repeat bg-cover" style="background-image:url('/img/i.jpg')"></div> 
<div class=" px-5 md:w-1/2 w-96 "><h1 class="text-3xl text-violet-900 font-bold underline px-5 ">Innovation and Entrepreneurship Development Centres (IEDC)</h1>
<p class=" text-justify px-5 text-xl ">
The Innovation and Entrepreneurship Development Centres (IEDC) are platforms set up in Engineering, Management, Arts & Science Colleges, Medical Institutions, Polytechnics and Universities with an aim to provide students with an opportunity to experiment and innovate. Kerala Startup Mission has set up IEDCs in 425 institutions across the State which provide avenues for creative students to learn, collaborate and transform their innovative ideas into prototypes of viable products and services. IEDCs works as the first launch pad for a student’s entrepreneurial journey and provide them with access to cutting edge technology, world-class infrastructure, high-quality mentorship, early risk capital and global exposure.</li> 

</p>
</div>
</div>
<div class="px-10 py-10  flex md:flex-row flex-col hover:bg-yellow-200">
<div class="md:w-1/2 md:h-56 w-96 h-56 bg-no-repeat bg-cover" style="background-image:url('/img/2.jpg')"></div>
<div class=" px-5 md:w-1/2 w-96">
<p class=" px-5 text-xl text-justify">Innovation and Entrepreneurship Development Centre (IEDC) is a flagship initiative of Kerala Startup Mission to promote innovation and entrepreneurship among the student and academic fraternity in the educational institutions in the State of Kerala and considered as an umbrella programme that would play an instrumental role in fostering innovation culture in Academic institutions.<a class=" text-blue-400 py-2 px-2 font-semibold underline" href="">Read more </a></li> <p class=" px-5 text-xl "></p></div>
<p>
</div>





<div class=" flex  md:flex-row flex-col  px-10 py-10"> 
<div class=" flex flex-col mt-5 md:w-1/4 w-screen border-2 md:mx-54 p shadow-xl hover:bg-violet-400 text-xl text-yellow-700 hover:text-white group">
<h1 class="text-2xl text-center font-bold px-5 py-5 group-hover:text-violet-900 text-green-900">Vision</h1>
<p class="px-5 text-justify ">To create an innovation culture among Innovators by introducing them the State-of-the-art technologies and positioning the Institution as a Learning and Innovation Platform by delivering technically competent and skilled Entrepreneurs.</p>
</div>
<div class=" flex flex-col mt-5 md:w-1/4 w-screen border-2 mx-54 shadow-xl hover:bg-violet-400 text-xl text-yellow-700 hover:text-white group">
<h1 class="text-2xl font-bold group-hover:text-violet-900 px-5 py-5 text-green-900">Purpose</h1>
<p class="px-5 text-justify">The purpose of the IEDCs will be to act as an aspirational platform, for the l student entrepreneurs and tech savvy innovators, in skilling and sharpening their entrepreneurial skill sets. The selected innovators will be exposed to Innovation culture, emerging technologies and Business aspects with the implicit assumption that the delta will become an entrepreneur and all the other skilled talents will get high end jobs with the kind of exposure and skills they acquire.</p>
</div>
<div class=" flex flex-col mt-5 md:w-1/4 w-screen  border-2 mx-54 shadow-xl hover:bg-violet-400 text-xl text-yellow-700 hover:text-white group">
<h1 class="text-2xl  group-hover:text-violet-900 font-bold px-5 py-5  text-green-900">Mission</h1>
<p class="px-5 text-justify">To create IEDC as an Innovation Platform and to create future founders by promoting Innovation, Technology and Business Learning among student community.
</p>
</div>
<div class="  text-justify py-5 flex flex-col mt-5 md:w-1/4 w-screen border-2 mx-54 shadow-xl hover:bg-violet-400 text-xl text-yellow-700 hover:text-white group">
<h1 class="text-2xl font-bold px-5 group-hover:text-violet-900 py-5 text-green-900">Objectives</h1>
<ol class="px-5">
<li>~To promote an innovation driven entrepreneurship culture among the students</li>
<li>~To develop and promote commercially viable innovative product and solution from the students.</li>
<li>~To promote enterprise among budding technopreneurs and thereby creating more employment opportunities</li>
<li>~To bridge the gap between Industry and Academia</li>
<li>~To support the budding Entrepreneurs through Grants and to create an entrepreneurship flavour in the academic fraternity.</li>
</ol>
</div>
</div>

<div class="mx-10">
<div class="bg-yellow-300  w-full  p-5">
<h1 class="text-2xl flex flex-col font-bold underline text-violet-900">Kerala Start Up Mission<h1>
<p class="mx-auto text-xl text-justify p-2">
Kerala Startup Mission (KSUM) is the State nodal agency for the promotion of innovation and entrepreneurship under Department of Electronics and IT, Government of Kerala. Kerala Startup Mission plays a pivotal role in developing a vibrant Startup ecosystem in the State of Kerala. 

The primary objectives of KSUM is to undertake the planning, establishment and management of Technology Business Incubators/Accelerators in Kerala and thereby promote technology-based entrepreneurship activities and develop a conducive environment required for promoting high technology-based business activities. 

Being the apex body for the Startup activities in the State, Kerala Startup Mission supports incubators in the State of Kerala to achieve their full potential by extending financial, technological and mentoring support to incubated start-ups. Kerala Startup Mission helps Startup Founders to execute their vision and compete on the global stage by providing them with risk capital, Incubation support, expert mentoring, and business network when traditional financial and other institutions cannot.
</p>
<p>The objectives of Kerala Startup Mission are;</p>
<p>~To promote knowledge driven and technology based Startup ventures</p>
<p>~To establish and Management of Technology Business Incubators and thereby create the infrastructure and environment required for promoting technology-based start-ups</p>
<p>~To encourage leading entrepreneurs and companies to set up high technology business activities in the region</p>
<p>~To undertake major initiatives in Innovation promotion in the region.</p>
<p>~To build appropriate models for Entrepreneurship Development through research</p>
<p>~To create a knowledge, innovation and entrepreneurial support system through a collaborative community of national and international experts, practitioners and other partners.</p>

</div>

</div>






<div class="flex flex-row px-20 h-50 bg-violet-300 mx-10 my-10">
<div class="w-1/2   mx-10"><h1 class="text-yellow-700 text-xl">Contact info</h1><p>Address:<p/><p>Phone:</p><p>email</p></div>
<div class="w-1/2  mx-10"><h1 class="text-yellow-700 text-xl">Follow Us</h1><p>@<p/><p>@</p><p>@</p></div>
</div>
</Layout>


