---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                INNOVATE : PLATFORM FOR IEDC MANAGEMENT
			</h1>

		</div>
		</div>

		
	</main>
    <div class=" text-center px-20 ">
       <p class="text-xl text-justify py-5">IEDCs works as the first launch pad for a student’s entrepreneurial journey and provides them with access to cutting edge technology, world class infrastructure, high quality mentorship, early risk capital and external connects.</p>
       <p class="text-xl text-justify py-5">For the proper functioning of IEDCs, KSUM need to continuously monitor and assess the activities of various IEDCs, and we have come up with the requirements for a portal or MIS - Kerala Innovators .</p>
   </div>


    <div class="px-10  py-10 ">
           <div class="  flex flex-row bg-cover space-x-5 object-center text-center text-2xl  px-12   min-w-full bg-center bg-no-repeat w-full py-20" style="background-image:url('/img/iedc_web/image2.png')">
                
                    <div class=" bg-orange-600 text-white py-5 px-2 w-1/4 hover:bg-gray-700 border-l-2 border-gray-900"><a href="/">Institution Login</a></div>
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/4 hover:bg-gray-700 border-l-2 border-gray-900" ><a href="/">Student Login</a></div>
                    <div class=" bg-orange-600 text-white py-5 px-2 w-1/4 hover:bg-gray-700 border-l-2 border-gray-900"><a href="/"> Student Registration </a></div>
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/4  hover:bg-gray-700 border-l-2 border-gray-900 "><a href="/">New IEDC Application</a></div>
            </div>
     </div>

      <p class="text-blue-700 text-2xl px-96 font-bold italic py-5">For queries or more details: iedckerala@startupmission.in</p>
      <p class=" px-24 font-extrabold py-5">__________________________________________________________________________________________________________________________________________________________________________________________________</p>



    <div class="bg-gray-100 text-xl py-5">
                    <h1 class="px-24 py-5 font-bold text-blue-600">The INNOVATE is built to</h1>
                    <ol class="px-24 ">
                    <li class="py-2">1. Monitor and manage the community digitally.</li>
                    <li class="py-2">2. Interact with IEDCs (Nodal officers) to organize and conduct activities.</li>
                    <li class="py-2">3. Interact with students via different projects and activities.</li>
                    <li class="py-2">4. Experienced Nodal Officers will work with KSUM to share insights on expanding the community.</li>
                    </ol>
                    
                    <h1 class="px-24 py-5 font-bold text-blue-600">Engagement with students</h1>
                    <ol class="px-24">
                    <li class="py-2">1. Students who are part of IEDC can become part of the Startup community.</li>
                    <li class="py-2">2. Students will get a live update of all activities happening in IEDCs and can apply directly for the same.</li>
                    <li class="py-2">3. Students who are part of the IEDC community can connect with mentors. </li>
                    
                  </ol>


    </div>

    <div class="px-96 py-5 h-20 text-center">For any queries please write to iedckerala@startupmission.in</div>
</Layout>