---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full md:pt-24 pt-36" style="background-image:url('/iedcdesign/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                ksum iedc-programme
			</h1>

		</div>
		</div>

		
	</main>
   <section class="md:pt-15 md:px-12 ">
             
			<div class="flex md:flex-row mx-auto flex-col md:space-x-4 space-x-0 ">
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="/iedcdesign/img/iedc_web/startup.avif" class=" object-center h-96 mx-auto">
				</div>
				<div class=" md:w-2/3 w-full  my-auto">
				  <p class="text-justify text-xl px-5 py-5">We are glad to inform you that KSUM has decided to activate IEDC activities with renewed vigour and the following programmes are envisaged in partnership with IEDCs</p> 
                  
                  <ul class="list-decimal list-outside text-xl px-10 py-5">
                  
                  <li> Bootcamps for Students leads</li>
                  <li> Startup i3 - Bootcamp for Innovators</li>
                  <li> Technical workshops in Future technologies</li>
                  </ul>

                 
                  
                </div>
                
			</div>
           </section> 


           
 
    
    <div class="md:px-24">
                <h1 class=" text-2xl  text-blue-900 font-bold  px-2 py-5">1. Bootcamps for Students Leads</h1>
                <p class="text-xl px-10">Two-day residential boot camps are designed to help student leads by IEDCs to lead innovation activities in their respective campuses. Two students from each IEDCs would be admitted into these boot camps. These boot camps would design a one-year roadmap for IEDCs. These camps would be implemented with the support of organizations working in the Tech space including KSUM community partners. The IEDC institution can host these workshops. The entire cost would be met by KSUM. This is being planned for the month of April-June.</p>
    </div>
    
    <div class="md:px-24">
                <h1 class=" text-2xl  text-blue-900 font-bold px-2 py-5">2. Startup i3- Bootcamps for Innovators</h1>
                <p class="text-xl px-10">With a view to provide student innovators deep insight into the Startup development process, KSUM plans to organize bootcamps for first time innovators. The bootcamps would help innovators to finetune their ideas and prepare a proper pitch deck. Selected IEDC's can organise these bootcamps during 2021-22 academic year.</p>
    </div>

    <div class="md:px-24 pb-10 md:pb-10">
                <h1 class=" text-2xl  text-blue-900 font-bold  px-2 py-5">3.Technical Workshops</h1>
                <p class="text-xl px-10" >KSUM plans to organize in-depth experiential learning workshops in future technology areas for the benefit of students. The selected areas are Artificial Intelligence, Machine learning, Data Science, Cloud Computing, AR/VR etc.</p>
    </div>

			         
</Layout>