---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="">
		<div class="flex -z-10 bg-cover object-center min-w-full bg-center bg-no-repeat w-full pt-24" style="background-image:url('/img/AdobeStock_582485671.jpeg')">
		<div class="text-center py-7 container">
			<h1 class="md:text-8xl uppercase font-extrabold text-blue-900 text-5xl">
                ksum-mdp
			</h1>

		</div>
		</div>

		
	</main>


    <section class="pt-24 px-12 ">
             <h1 class="md:text-4xl text-3xl text-blue-900 font-extrabold text-center pb-10">Management Development Programme (MDP) - Indian Institute of Management - Kozhikode (IIM - K)</h1>
			<div class=" md:flex-row mx-auto flex col md:space-x-4 space-x-0 ">
				<div class="flex md:w-1/3 w-full mx-auto md:mt-10">
					<img src="img/iedc_web/mdp.jpg" class=" object-center h-96 mx-auto">
				</div>
				<div class=" md:w-2/3 w-full  my-auto">
				  <p class="text-justify text-xl py-5">The first batch the four day Management Development Programme (MDP) organized by Kerala Startup Mission in association with Indian Institute of Management - Kozhikode (IIM - K) is scheduled from 21-24 March 2022.</p> 
                  <p class="text-justify text-xl py-5">The training programme has been envisaged to support selected nodal officers to design Innovative Ecosystem in their region.</p>
                  <ol class="text-xl px-10 py-5">
                  <li>Dates of the Programme - 21st, 22nd, 23rd and 24th March 2022.</li>
                  <li>Programme Type – Residential</li>
                  <li>Programme Fee – Rs. 60,000/-</li>
                  <li>Entry – Nodal Officers Only</li>
                  </ol>

                 
                  
                </div>
                
			</div>
           </section> 

        <div class="px-10">
                    <p class="text-justify text-xl  italic">Kindly Note that you are requested to follow the instruction from IIM - K mentioned below</p>
                    <ol class="text-xl px-10 py-5">
                            <li>1.Only those participants who are vaccinated (2 doses) against COVID 19</li>
                            <li>2.Carry a RTPCR test negative result dated two days (48Hrs) prior to the travel date to IIMK are permitted to attend the programme.</li>
                            <li>3.COVID 19 vaccine certificate & RTPCR test negative report should be submitted without fail at the IIM - K reception.</li>
                            <li>4.Participants are not allowed to stay outside the campus during programme days.</li>
                    </ol>

        </div>   


        <div class="px-10  py-10 ">
           <div class="  flex flex-row bg-cover space-x-5 object-center text-center text-2xl  px-12   min-w-full bg-center bg-no-repeat w-full py-20" style="background-image:url('/img/iedc_web/image2.png')">
                
                    
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/3 hover:bg-gray-700 border-l-2 border-gray-900" ><a href="https://drive.google.com/file/d/1ERoSbQ_WJ-kU0wIofSLehE52vsDrV8TS/view?usp=sharing" target="blank">Batch I-Nodal Officer-MDP list</a></div>
                    <div class=" bg-orange-600 text-white py-5 px-2 w-1/3 hover:bg-gray-700 border-l-2 border-gray-900"><a href="https://docs.google.com/forms/d/1DwPVLsD4sNQUrKaXo9kuT9yzeslrvsswalTZ0OPX_1E/closedform" target="blank"> Application Link-Batch I </a></div>
                    <div class="bg-orange-600 text-white py-5 px-2 w-1/3  hover:bg-gray-700 border-l-2 border-gray-900 "><a href="https://docs.google.com/forms/d/e/1FAIpQLSdwDNV8KgJGo8ke85eTKuoeEfiBBjYjz6u-RGjFosIPTVEuWw/viewform?vc=0&c=0&w=1&flr=0" target="blank">Batch I-Confirmation Link</a></div>
            </div>
     </div>
</Layout>    